# Database
DB_HOST=local
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=work_orders_db

# Server
PORT=2000
SESSION_SECRET=your_session_secret

# Admin
ADMIN_EMAIL=your_email@example.com
ADMIN_PASSWORD=your_admin_password

# Google Sheets
SHEET_ID=your_sheet_id
SHEET_NAME=your_sheet_name
SPREAD_SHEET_ID=your_spread_sheet_id
