<div class="login-container">
    <h2>🔐 Login</h2>
  
    <form (ngSubmit)="onLogin()" #loginForm="ngForm">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" required [(ngModel)]="username" name="username" />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" required [(ngModel)]="password" name="password" />
      </div>
  
      <button type="submit">Login</button>
  
      <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    </form>
  </div>
  